body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(26, 26, 53);
    color: rgb(176, 228, 210);
}

nav{
margin: 10px;
display: inline-block;
background: blueviolet;
width: 100px;
}

nav ul{
    list-style: none;
    text-align: center;
}

nav li{
    display: inline-block;
    margin-left: 15px;
}

nav a{
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    border: 1 px solid transparent;
    transition: 0.25s;
    color: white;
    padding-right: 100px;
}

nav img{
width: 65px;
height: 65px;
float: left;
}
