ul {
    list-style-type: none; 
    border-left:5px solid green;
    padding: 15px 25px;
    font-size: 20px;
    color: black;
}
ul li { 
padding:5px;
border-bottom: 1px solid grey;
}
ol {
    list-style-type: upper-roman;
}
ol{
list-style-type: upper-roman;
background: gold;
}
ol li{
    background: rgb(168, 204, 204);
    padding: 8px;
    margin-left: 30px;
}
td, th{
    border: 1px solid black;
    padding: 10px;
}
