article p{
     background-color: red;
     color: white;
}
article div p{
    background-color: blue;
    color: white; 
 }
 article > p{
background-color: greenyellow;
 }
 article ~ p{
background-color: fuchsia;
 }
 article + p{
    background-color: rebeccapurple;
 }
input:out-of-range {
    border: 2px solid red;
}
input:in-range{
    border: 2px solid green;
}
main p:last-child{
    background-color: pink;
}
#link:hover {
    background-color: blueviolet;
}
nav a{
    padding: 20px;
    margin: 20px;
}
nav {
    background-color: rgb(144, 144, 221);
    margin: 20px;
padding: 20px;
}

nav a:hover{
    background-color: rgb(116, 116, 252);
}

nav a:active{
background-color: rgb(49, 219, 224);
}
nav a:visited {
    color: yellow;
}