div#div1{
    position: static;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
}
div#div2{
    position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 1000px;
    top: 100px;
}
div#div3{
      position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    top: 100px;
    right: 150px;
}
#parent{
position: relative;
width: 250px;
height: 250px;
border: 3px solid black;
}
#child{
position: absolute;
width: 200px;
height: 200px;
background-color: blue;
right: 100px;
top: 100px;
}
#horizontal ul{
    list-style-type: none;
    background-color: rgb(29, 11, 29);
    margin-bottom: 100px;
    overflow: hidden;
    padding: 30px;
}
#horizontal ul li{
float: left;
}
#horizontal ul li a{
    color: white;
    padding: 50px;
    text-decoration: none;
}

#horizontal ul li a:hover{
    background-color: rgb(124, 119, 119);
}

#vertical ul{
    list-style-type: none;
    background-color: rgb(196, 70, 196);
    margin-bottom: 120px;
    overflow: hidden;
    padding: 40px;
}
#vertical ul li{
     padding: 20px;
    
}

#vertical ul li a{
     color: rgb(84, 170, 196);
    padding: 60px;
    text-decoration: none;
}

#horizontal ul li a:hover{
    background-color: rgb(209, 21, 21); 
}

#dropdown {
    overflow: hidden;
    background-color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#dropdown{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#nav-dropdown{
    float: left;
    overflow: hidden;
}

#dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    background-color: inherit;
    font: inherit;
}

#dropdown a:hover, #nav-dropdown:hover{
    background-color: plum;
}

#dropdown-content{
    display: none;
    position: absolute;
    background-color: beige;
    width: 100%;
    box-shadow: 10px black;
}

#column{
    float: left;
    width: 50%;
    padding: 10px;
    background-color: bisque;
    height: 250px;
}

#column a{
    float: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#nav-dropdown:hover #dropdown-content{
    display: block;
}

#row:after{
    display: table;
}