div#div1{
    position: static;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
}
div#div2{
    position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 1000px;
    top: 100px;
}
div#div3{
      position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    top: 100px;
    right: 150px;
}