.container{
    display: flex;
background: rgb(154, 200, 214);
}

.container div{
    background-color: aliceblue;
    margin: 10px;
    padding: 20px;
    font-size: 25px
}

.container div:nth-child(1){
    order: 2;
    flex-grow: 3;
}
.container div:nth-child(2){
    order: 3;
}
.container div:nth-child(3){
    order: 0;
}
.container div:nth-child(4){
    order: 1;
}

.container2{
    display: flex;
background: rgb(154, 200, 214);
flex-direction: column-reverse;
}

.container2 div{
    background-color: aliceblue;
    margin: 10px;
    padding: 20px;
    font-size: 25px
}

.container3{
    display: flex;
background: lightcoral;
flex-direction: space-between;
justify-content: space-evenly;
}

.container3 div{
    background-color: aliceblue;
    margin: 10px;
    padding: 20px;
    font-size: 25px
}

.container4{
    display: flex;
background: lightcoral;
flex-direction: space-between;
justify-content: space-evenly;
height: 200px;
}

.container4 div{
    background-color: aliceblue;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
    height: 50px;
}

.container4 div:nth-child(2){
    align-self: flex-end;
}

/* align-items: stretch, flex-start, flex-end, center */
.container5{
    display: flex;
background: aquamarine;
flex-direction: row;
height: 200px;
align-items: stretch;
}

.container5 div{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

/* align-content: flex-start, flex-end, center, space-between, space-around, stretch */

.container6{
    display: flex;
background: aquamarine;
flex-direction: row;
height: 800px;
align-content: stretch;
flex-wrap: wrap;
}

.container6 div{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    width: 400px;
    height: 200px;
}