p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    color: rgb(0,0,255) ;
    background-color: azure;
    padding: 20px;
    border-width: 5px;
  border-style: solid;
  border-color: blue;
}
div {
    width: 40%;
    border: 100%;
    margin: 50px;
    padding: 50px;
    background-color: palevioletred;
    text-align: center;
}
body{
    background: url(backround.jpg);
    background-size: cover;
}