:root{
    --bg: #0b1200;
    --bg-2: #0f172a;
    --text: #e5e7eb;
    --border: #22304a;
    --text2: #a3b0c2;
}

body{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif ;
    background: var(--bg);
    color: var(--text);
}

#topbar{
    background: var(--bg-2);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border: 1px solid var(--border);
}

#header-container{
    width: 90%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brand_name{
    font-size: 20px;
    font-weight: bold;
    color: var(--text);
    }
.brand{
    text-decoration: none;
}

.nav_link{
    color: var(--text);
    text-decoration: none;
    padding-bottom: 20px;
}

.nav_link:hover{
    background: var(--text2);
    color: var(--bg-2);
    border-radius: 20px;
}

.hero{
    text-align: center;
    padding: 70px ;
    background: linear-gradient(180g, var(--bg), var(--bg-2));
}
#hero_title{
    font-size: 40px;
    margin: 15px;
}

#hero_p{
    font-size: 20px;
    color: var(--text2);
}

#hero_img{
    margin: 0 50px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    gap: 50px;
    text-align: center;
}

.stat_value{
    font-size: 20px;
    font-weight: bold;
}

.stat_label{
    color:var(--text)
}

.stats{
    border: 1px solid var(--border);
    padding: 20px;
    border-radius: 10px;
    width: 150px;
}

#besellers_title{
    font-size: 50px;
    color: var(--text);
text-align: center;
}

#products-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

#product-grip img{
    width: 400px;
    height: 400px;
}

.product-card{
    border: 3px solid var(--border);
    background: #111c33;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.product-card button{
    font-size: 15px;
    padding: 5px 10px;
    color: black;
    background: #0ea5e9;
}

